##########################################################################
## Copyright 2021 The Aerospace Corporation.
## This file is a part of SatCat5, licensed under CERN-OHL-W v2 or later.
##########################################################################
# ##############################################################################

# iCEcube PCF

# Version:            2012.09SP1.22498

# File Generated:     Sep 14 2013 17:36:59

# Family & Device:    iCE40HX8K

# Package:            CT256

# ##############################################################################

set_io clk_12 J3
set_io ext_reset_n P16

set_io stat_led_g B5
set_io stat_led_err B4
set_io stat_led_lock A2

set_io host_tx P15
# set_io host_rx

set_io uart_txd   C16
set_io uart_rxd   D16
set_io uart_rts_n E16
set_io uart_cts_n D15

# set_io mdio_clk  J14
# set_io mdio_data K14

set_io rmii_txd[0]  F16
set_io rmii_txd[1]  J15
set_io rmii_txen    G16
set_io rmii_rxd[0]  K16
set_io rmii_rxd[1]  M15
# rxen is CRS of PHY
set_io rmii_rxen    L16
# ensure GB input
set_io rmii_refclk  H16


# LED reference
# set_io LED1 B5
# set_io LED2 B4
# set_io LED3 A2
# set_io LED4 A1
# set_io LED5 C5
# set_io LED6 C4
# set_io LED7 B3
# set_io LED8 C3
