# Copyright 2019-2024 The Aerospace Corporation.
# This file is a part of SatCat5, licensed under CERN-OHL-W v2 or later.

# Ignore compiled Python and C files
*.bin
*.pyc
*.o

# Ignore temporary files (Vim, etc.)
~*
*.jou
*.log
*.swp
*.swo
backups
build_tmp
.vscode/
sim/cpp/coverage*

# Ignore test reports.
*.csv
cppcheck.xml
cpplint.log

# Ignore temporary files from example designs.
examples/vc707_ptp_client/vc707_ptp/*
examples/vc707_ptp_master/
test/log_viewer/build_tmp

# Ignore most Lattice-created project files
project/icecube2_2017.8/**
!project/icecube2_2017.8/*/
!project/icecube2_2017.8/*/*.project
!project/icecube2_2017.8/*/*.prj
!project/icecube2_2017.8/*/*.pcf
!project/icecube2_2017.8/*/*.sdc

# Ignore all Libero-created subfolders
project/libero/*/

# Ignore all Modelsim-created subfolders
project/modelsim/*.ini
project/modelsim/*.mti
project/modelsim/*.mpf
project/modelsim/*.vstf
project/modelsim/*.wlf
project/modelsim/wlf*
project/modelsim/work

# Ignore all Vivado-created subfolders
*.bin
*.bit
*.cache
*.dmp
*.hdf
*.hw
*.ip_user_files
*.metadata
*.prm
*.project
*.runs
*.srcs
*.str
*.xpr
.Xil
examples/*/*/*.xdc
satcat5_ip
sdk_hw
sdk_bsp
sim/satcat5_sims
webtalk/

# Ignore all Yosys-created subfolders
project/yosys/*/

# Ignore local installations of NPCAP.
npcap/
/.vs/pico_ethernet/v17
/.vs
/sim/cpp/simulations/

# Ignore packet capture files.
*.pcap
*.pcapng


